/* main.scss */

$background-color: #1D1F21;
$text-color1: #2bbc8a;
$text-color2: #c9cacc;
$text-color3: #9F2042;
$font-size: 2em;

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: 'Ropa Sans', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

// Start Navbar styling
div.nav-navbar {
  clear: both;
  bottom: 0px;
  height: 60px;

  ul.nav-bar {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    width: 300px;
    height: 100%;

    li {
      display: inline;
      height: 100%;
      // width changes with number of li elements
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;

      a {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-family: 'Ropa Sans', courier;
        font-size: 25px;
        color: $text-color1;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
        color: $text-color3;
      }

      a:active {
        text-decoration: none;
        color: $text-color2;
      }

    }
  }
}
// End Navbar styling

// Start Main content styling (general to all content pages)
div.main-content {
  margin-top: 4%;
  margin-bottom: 8%;
}

// End Main content styling

// Start Intro styling
div.intro-text {
  margin-top: 10%;
  font-family: 'Ropa Sans', courier;
  font-size: $font-size;
  text-align: center;

  h1 {
    font-size: 80px;
    font-weight: normal;
    color: $text-color1;
  }

  h2 {
    font-size: 40px;
    font-weight: normal;
  }

  h3 {
    font-size: 25px;
    font-weight: normal;
    color: $text-color2;
  }

  div.icons {
    margin-top: 7%;
    font-size: $font-size;

    i.soundcloud-icon {
      font-size: 70%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  i {
    color: $text-color2;
    margin-left: 5px;
    margin-right: 5px;
  }
  i:hover {
    color: $text-color1;
  }
}
// End Intro styling

h2.main-title {
  width: 100%;
  height: 20%;
  margin-bottom: 40px;
  color: $text-color1;
  text-align: center;
}

// Start Experience styling
div.experience-box {
  height: 20%;
  background-color: $background-color;
  padding: 0px 20px 10px 20px;
  margin-top: 0px;
  margin-bottom: 0px;

  h2 {
    color: $text-color1;
    margin-bottom: 3px;
    margin-top: 3px;

    span {
      color: $text-color3;
      font-size: 65%;
      margin-left: 10px;
    }
  }

  h3 {
    margin-top: 0;
    color: $text-color3;
  }

  p {
    color: $text-color2;
    font-size: 140%;
  }
}
// End Experience styling

// Start Readings styling
div.reading-box {
  height: 20%;
  background-color: $background-color;
  padding: 0px 20px 0px 20px;
  margin-top: 0px;
  margin-bottom: 5px;

  h2 {
    color: $text-color1;
    margin-bottom: 3px;
    margin-top: 3px;

    span {
      color: $text-color3;
      font-size: 65%;
      margin-left: 10px;
    }
  }

  h3 {
    margin-top: 0;
    color: $text-color3;
    font-size: 130%;
    font-style: italic;
  }

  p {
    color: $text-color2;
    font-size: 140%;
  }
}
// End Readings styling

// Hyperlink hover
a.hyperlink {
    text-decoration: none;
    color: $text-color1;
}

a.hyperlink:hover {
  text-decoration: none;
  color: $text-color3;
}

a.hyperlink:active {
  text-decoration: none;
  color: $text-color2;
}
